* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body h2 {
	font-size: 3rem;
	font-weight: 900;
	color: #69baa8;
}

.eco-logo {
	height: 3rem;
	aspect-ratio: 1;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: grey;
}

.sideBar {
	position: absolute;
	top: 2vh;
	left: 2vh;
	height: 96vh;
	width: 25vw;
	border-radius: 24px;
	background: radial-gradient(
		107.32% 141.42% at 0% 0%,
		rgba(255, 255, 255, 0.7) 0%,
		rgba(255, 255, 255, 0.31) 99.99%,
		rgba(255, 255, 255, 0) 100%
	);
	box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.36),
		-5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
	backdrop-filter: blur(21px);
	padding: 2rem;
}

.start-box {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.delivery label {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
}

.delivery {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.bi-pencil-fill {
	font-size: 1.8rem;
	aspect-ratio: 1;
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
}

.heading {
	align-items: center;
	display: flex;
}

.calcRoute {
	width: 100%;
	background-color: #69baa8;
	border: none;
	margin-top: 1rem;
}

.calcRoute:hover {
	background-color: #3e8677;
}

.addDelivery {
	width: 100%;
	background-color: transparent;
	border: #69baa8 solid 2px;
	color: #69baa8;
}

.addDelivery:hover {
	background-color: #69baa8;
	color: white;
	border: #69baa8 solid 2px;
}

.btn {
	border-radius: 8px;
	font-size: 2rem;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.foodDeliveries {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.foodDeliveries h3 {
	font-size: 2.5rem;
}

.start-text {
	font-size: 2.5rem;
}

.deliveries {
	display: flex;
	flex-direction: column;
	height: 36vh;
	overflow-y: scroll;
}

.form-control {
	border-radius: 8px;
}
