* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body h2{
	font-size: 4rem;
	font-weight: 900;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: grey;
}

.sideBar {
	position: absolute;
	top: 2vh;
	left: 2vh;
	height: 96vh;
	width: 25vw;
	border-radius: 24px;
	background: radial-gradient(
		107.32% 141.42% at 0% 0%,
		rgba(255, 255, 255, 0.7) 0%,
		rgba(255, 255, 255, 0.31) 99.99%,
		rgba(255, 255, 255, 0) 100%
	);
	box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.36),
		-5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
	backdrop-filter: blur(21px);
	padding: 2rem;
}

.start-box{
	display: flex;
	align-items: center;
	gap: 2rem;
}

.delivery label{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	gap:1rem;
}

.delivery{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.bi-pencil-fill{
	font-size: 1.8rem;
	aspect-ratio: 1;
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer; 
}

.heading{
	align-items: center;
	display: flex;
}

.calcRoute {
	margin-top: auto;
	width: 100%;
}

.foodDeliveries {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.foodDeliveries h3{
	font-size: 3rem;
}

.start-text{
	font-size: 3rem;
}

.deliveries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}


.delivery label {
  font-weight: bold;
  margin-bottom: 5px;
}

.delivery-input:focus {
	outline: none;
	border-color: #007bff;
}

.form-control{
	height: 40px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #ced4da;
}


.btn-outline-primary{
		height: 40px;
		width:100%;
		background-color: #fff;
		color: #007bff;
		border-color: #007bff;
		transition: 0.2s ease-in-out;
		border-radius: 8px;
		margin-top: 20px;
		font-size: 2rem;
}

.btn-outline-primary:hover{
		background-color: #007bff;
		color: #fff;
}

.btn-primary{
	height: 40px;
	width:100%;
	background-color: limegreen;
	color: white;
	border-color: green;
	transition: 0.2s ease-in-out;
	border-radius: 8px;
	margin-top: 20px;
	font-size: 2rem;
}

.btn-primary:hover{
	background-color: white;
	color: limegreen;
	border: none;
}
